* text=auto

/src export-ignore
/LICENSE export-ignore
/README.md export-ignore
/*.sublime-* export-ignore
/*.md export-ignore
/*.zip export-ignore
/*.inf export-ignore
/*.ini export-ignore
/*.ico export-ignore
/*.png export-ignore
