*.sublime-wprkspace
node_modules
temp
tmp
test
/codemirror
*.zip
*.ini
*.inf
*.ico
/plugins/codemirror/*
!/plugins/codemirror/langs
!/plugins/codemirror/*.*
!/plugins/codemirror/codemirror
/plugins/codemirror/codemirror/*
!/plugins/codemirror/codemirror/theme
/plugins/codemirror/codemirror/theme/*
!/plugins/codemirror/codemirror/theme/mariana.css
