html
	//

		/**
		 *
		 * The source HTML code of the CodeMirror plugin
		 *
		 * plugin.js
		 *
		 * Copyright 2013 Web Power, www.webpower.nl
		 * @author Arjan Haverkamp
		 *
		 * Copyright © 2008 - All right reserved
		 * @update ProjectSoft <projectsoft2009@yandex.ru>
		 * @date 14.02.2026
		 *
		 */
	|
	head
		meta(charset="UTF-8")
		script(type="text/javascript")
			//- Втавка JS
			include script.min.js
		style(type="text/css")
			//- Вставка CSS
			include style.min.css
	body
